In [4]:
import pandas as pd

# Read the two datasets
df_stringency = pd.read_csv('data/map/stringency_average_1.csv')
df_containment = pd.read_csv('data/map/containement_average_1.csv')

# Merge the datasets on the 'location' column
merged_df = pd.merge(df_stringency, df_containment, on='location')
merged_df

       location  average_stringency_index  average_containment_index
0       Austria                 56.014762                  50.567962
1       Belgium                 58.975096                  52.372675
2      Bulgaria                 56.393333                  41.188726
3       Croatia                 63.845714                  56.590255
4        Cyprus                 72.979851                  52.683312
5       Czechia                 51.059085                  48.416115
6       Denmark                 55.485796                  48.399236
7       Estonia                 45.028726                  37.884841
8       Finland                 48.715287                  42.340637
9        France                 65.429809                  57.202548
10      Germany                 57.250127                  54.015924
11       Greece                 62.378699                  50.249554
12      Hungary                 59.820500                  48.997006
13      Ireland                 67.260979                  51.441274
14        Italy                 73.301274                  69.218599
15       Latvia                 51.638322                  45.665669
16    Lithuania                 61.388871                  45.872357
17   Luxembourg                 50.137838                  45.974268
18        Malta                 64.526304                  57.033758
19  Netherlands                 61.071862                  49.642930
20       Poland                 64.201295                  48.277580
21     Portugal                 65.382817                  53.248344
22      Romania                 62.126370                  46.368790
23     Slovakia                 60.118905                  52.672611
24     Slovenia                 50.107006                  49.721210
25        Spain                 60.657389                  50.638599
26       Sweden                 51.974076                  46.514650

In [5]:
# Calculate the ratio between stringency index and containment index
merged_df['ratio'] = (merged_df['average_stringency_index'] + merged_df['average_containment_index'])/2

# Save the merged dataset with the ratio as a new CSV file
merged_df.to_csv('data/map/merged_data.csv', index=False)

In [1]:
import csv
import pandas as pd

df1 = pd.read_csv('data/owid-covid-data.csv')
df2 = pd.read_csv('data/covid-containment-and-health-index.csv')

In [2]:
# Filter the DataFrame based on your conditions
countries = ['Belgium', 'France', 'Germany', 'Italy', 'Luxembourg', 'Netherlands', 'Denmark', 'Ireland', 'Greece', 'Portugal', 'Spain', 'Austria', 'Finland', 'Sweden', 'Cyprus', 'Estonia', 'Latvia', 'Lithuania', 'Malta', 'Poland', 'Czechia', 'Slovakia', 'Slovenia', 'Hungary', 'Bulgaria', 'Romania', 'Croatia']

#'2020-02-15' <= row['date'] <= '2020-07-20' 1st wave
#'2020-07-20' <= row['date'] <= '2021-07-10' 2nd wave
#'2021-07-10' <= row['date'] <= '2022-12-31' 3rd wave

start_date = '2021-07-10'
end_date = '2023-02-16'

date_condition1 = (df1['date'] >= start_date) & (df1['date'] <= end_date)
date_condition2 = (df2['date'] >= start_date) & (df2['date'] <= end_date)
stringency_condition = df1['stringency_index'].notnull()
containement_condition = df2['containment_index'].notnull()

filtered_df1 = df1[(df1['location'].isin(countries)) & date_condition1 & stringency_condition]
filtered_df2 = df2[(df2['location'].isin(countries)) & date_condition2 & containement_condition]

print(filtered_df1)
print(filtered_df2)

filtered_df2.drop('date', axis=1, inplace=True)

# Merge the datasets on the 'location' column
merged_df = pd.merge(filtered_df1, filtered_df2, on='location')
merged_df

       iso_code continent location        date  total_cases  new_cases  \
14703       AUT    Europe  Austria  2021-07-10     647052.0      199.0
14704       AUT    Europe  Austria  2021-07-11     647230.0      178.0
14705       AUT    Europe  Austria  2021-07-12     647384.0      154.0
14706       AUT    Europe  Austria  2021-07-13     647568.0      184.0
14707       AUT    Europe  Austria  2021-07-14     647813.0      245.0
...         ...       ...      ...         ...          ...        ...
222630      SWE    Europe   Sweden  2022-12-27    2665176.0        0.0
222631      SWE    Europe   Sweden  2022-12-28    2665176.0        0.0
222632      SWE    Europe   Sweden  2022-12-29    2674862.0     9686.0
222633      SWE    Europe   Sweden  2022-12-30    2674862.0        0.0
222634      SWE    Europe   Sweden  2022-12-31    2674862.0        0.0

        new_cases_smoothed  total_deaths  new_deaths  new_deaths_smoothed  \
14703              117.429       13098.0         2.0                2.714
14704              128.000       13100.0         2.0                2.143
14705              140.286       13102.0         2.0                1.857
14706              156.143       13102.0         0.0                1.571
14707              176.429       13103.0         1.0                1.714
...                    ...           ...         ...                  ...
222630            1924.857       21627.0         0.0               37.571
222631            1924.857       21627.0         0.0               37.571
222632            1383.714       21827.0       200.0               28.571
222633            1383.714       21827.0         0.0               28.571
222634            1383.714       21827.0         0.0               28.571

        ...  male_smokers  handwashing_facilities  hospital_beds_per_thousand  \
14703   ...          30.9                     NaN                        7.37
14704   ...          30.9                     NaN                        7.37
14705   ...          30.9                     NaN                        7.37
14706   ...          30.9                     NaN                        7.37
14707   ...          30.9                     NaN                        7.37
...     ...           ...                     ...                         ...
222630  ...          18.9                     NaN                        2.22
222631  ...          18.9                     NaN                        2.22
222632  ...          18.9                     NaN                        2.22
222633  ...          18.9                     NaN                        2.22
222634  ...          18.9                     NaN                        2.22

        life_expectancy  human_development_index  population  \
14703             81.54                    0.922   8939617.0
14704             81.54                    0.922   8939617.0
14705             81.54                    0.922   8939617.0
14706             81.54                    0.922   8939617.0
14707             81.54                    0.922   8939617.0
...                 ...                      ...         ...
222630            82.80                    0.945  10549349.0
222631            82.80                    0.945  10549349.0
222632            82.80                    0.945  10549349.0
222633            82.80                    0.945  10549349.0
222634            82.80                    0.945  10549349.0

        excess_mortality_cumulative_absolute  excess_mortality_cumulative  \
14703                                    NaN                          NaN
14704                               8930.799                         6.98
14705                                    NaN                          NaN
14706                                    NaN                          NaN
14707                                    NaN                          NaN
...                                      ...                          ...
222630                                   NaN                          NaN
222631                                   NaN                          NaN
222632                                   NaN                          NaN
222633                                   NaN                          NaN
222634                                   NaN                          NaN

        excess_mortality  excess_mortality_cumulative_per_million
14703                NaN                                      NaN
14704               0.56                               1000.97656
14705                NaN                                      NaN
14706                NaN                                      NaN
14707                NaN                                      NaN
...                  ...                                      ...
222630               NaN                                      NaN
222631               NaN                                      NaN
222632               NaN                                      NaN
222633               NaN                                      NaN
222634               NaN                                      NaN

[14580 rows x 67 columns]
       location Code        date  containment_index
9135    Austria  AUT  2021-07-10              62.90
9136    Austria  AUT  2021-07-11              62.85
9137    Austria  AUT  2021-07-12              62.80
9138    Austria  AUT  2021-07-13              62.69
9139    Austria  AUT  2021-07-14              62.56
...         ...  ...         ...                ...
166707   Sweden  SWE  2022-12-27              19.05
166708   Sweden  SWE  2022-12-28              19.05
166709   Sweden  SWE  2022-12-29              19.05
166710   Sweden  SWE  2022-12-30              19.05
166711   Sweden  SWE  2022-12-31              19.05

[14580 rows x 4 columns]

C:\Users\drago\AppData\Local\Temp\ipykernel_2628\3110523477.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df2.drop('date', axis=1, inplace=True)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million,Code,containment_index
0,AUT,Europe,Austria,2021-07-10,647052.0,199.0,117.429,13098.0,2.0,2.714,...,7.37,81.54,0.922,8939617.0,NaN,NaN,NaN,NaN,AUT,62.90
1,AUT,Europe,Austria,2021-07-10,647052.0,199.0,117.429,13098.0,2.0,2.714,...,7.37,81.54,0.922,8939617.0,NaN,NaN,NaN,NaN,AUT,62.85
2,AUT,Europe,Austria,2021-07-10,647052.0,199.0,117.429,13098.0,2.0,2.714,...,7.37,81.54,0.922,8939617.0,NaN,NaN,NaN,NaN,AUT,62.80
3,AUT,Europe,Austria,2021-07-10,647052.0,199.0,117.429,13098.0,2.0,2.714,...,7.37,81.54,0.922,8939617.0,NaN,NaN,NaN,NaN,AUT,62.69
4,AUT,Europe,Austria,2021-07-10,647052.0,199.0,117.429,13098.0,2.0,2.714,...,7.37,81.54,0.922,8939617.0,NaN,NaN,NaN,NaN,AUT,62.56
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7873195,SWE,Europe,Sweden,2022-12-31,2674862.0,0.0,1383.714,21827.0,0.0,28.571,...,2.22,82.80,0.945,10549349.0,NaN,NaN,NaN,NaN,SWE,19.05
7873196,SWE,Europe,Sweden,2022-12-31,2674862.0,0.0,1383.714,21827.0,0.0,28.571,...,2.22,82.80,0.945,10549349.0,NaN,NaN,NaN,NaN,SWE,19.05
7873197,SWE,Europe,Sweden,2022-12-31,2674862.0,0.0,1383.714,21827.0,0.0,28.571,...,2.22,82.80,0.945,10549349.0,NaN,NaN,NaN,NaN,SWE,19.05
7873198,SWE,Europe,Sweden,2022-12-31,2674862.0,0.0,1383.714,21827.0,0.0,28.571,...,2.22,82.80,0.945,10549349.0,NaN,NaN,NaN,NaN,SWE,19.05
7873199,SWE,Europe,Sweden,2022-12-31,2674862.0,0.0,1383.714,21827.0,0.0,28.571,...,2.22,82.80,0.945,10549349.0,NaN,NaN,NaN,NaN,SWE,19.05

In [27]:
merged_df[['date', 'containment_index']]

             date_x  containment_index
0        2021-07-10               0.00
1        2021-07-10               0.00
2        2021-07-10               0.00
3        2021-07-10               0.00
4        2021-07-10               0.00
...             ...                ...
8487175  2022-12-31              19.05
8487176  2022-12-31              19.05
8487177  2022-12-31              19.05
8487178  2022-12-31              19.05
8487179  2022-12-31              19.05

[8487180 rows x 2 columns]